<div class="jumbotron">
			<h1>'Allo!Allo'</h1>
			<p><img src="img/logo-big.png"></p>
			<h4>Welcom to FNUI! If you see this page, you have successfully built your FNUI website!</h4>
			<button class="fn-btn fn-btn-success fn-btn-lg fn-radius">Enjoy FNUI!<i class="fn-icon-check"></i></button>
		</div>
		<div>
			<ul class="fn-list">
			  <li>
				 <h4>How to bootsrap</h4>
				  use yo fnui to bootsrap the scaffold of you website.
			  </li>
			  <li>
				 <h4>Start your server </h4>
				 type grunt server in the commond line to start localhost
			  </li>
			  <li>
				 <h4>manage your own fnui</h4>
				 download the master package to achieve personal design
			  </li>
			  			  <li>
				 <h4>webpack</h4>
				 use cordova to pack your webapp
			  </li>
			</ul>
		</div>